---
version: "3.4"
services:
  toolbox:
    build:
      context: build
      dockerfile: ../images/toolbox/Dockerfile
      args:
        - user
        - group
    cap_drop:
     - ALL
    mem_limit: 2g
    volumes:
      - "${WORKSPACE_ROOT}:/workspace"
      - "tmp:/tmp"
      - "cache:/homedir/.cache"
      - "nvim-data:/homedir/.local/share/nvim"
      - "direnv-data:/homedir/.local/share/direnv"
      - "tmux-resurrect:/homedir/.tmux/resurrect"
      - "npm-global:/homedir/.npm-global"
      - "go-global:/homedir/go"
      - "cargo-data:/homedir/.cargo"
      - "local-bin:/homedir/.local/bin"
      - "local-lib:/homedir/.local/lib"
      - "hist:/homedir/.hist"
    hostname: ${WORKSPACE_HOSTNAME}
    ports:
      # godoc
      - "6060:6060"
      # parcel
      - "1234:1234"
      - "5000:5000"
      # static HMR port for parcel
      - "33969:33969"

volumes:
  tmp:
  cache:
  nvim-data:
  direnv-data:
  tmux-resurrect:
  composer-global:
  npm-global:
  go-global:
  cargo-data:
  local-bin:
  local-lib:
  hist:
