---
version: "3.4"
services:
  toolbox:
    build:
      context: toolbox
      dockerfile: Dockerfile
    volumes:
      - "./workspaces:/workspaces"
      - "cache:/home/${USER}/.cache"
      - "nvim-data:/home/${USER}/.local/share/nvim"
      - "direnv-data:/home/${USER}/.local/share/direnv"
      - "tmux-resurrect:/home/${USER}/.tmux/resurrect"
      - "npm-global:/home/${USER}/.npm-global"
      - "go-global:/home/${USER}/go"
      - "cargo-data:/home/${USER}/.cargo"
      - "local-bin:/home/${USER}/.local/bin"
      - "local-lib:/home/${USER}/.local/lib"
    environment:
      - "TERM=${TERM}"
    stdin_open: true
    tty: true
    ports:
      # godoc
      # - "6060:6060"

volumes:
  cache:
  nvim-data:
  direnv-data:
  tmux-resurrect:
  npm-global:
  go-global:
  cargo-data:
  local-bin:
  local-lib:
