---
version: "3.4"
services:
  toolbox:
    build:
      context: toolbox
      dockerfile: Dockerfile
    volumes:
      - "./workspaces:/workspaces"
      - "cache:${HOME}/.cache"
      - "nvim-data:${HOME}/.local/share/nvim"
      - "go-data:${HOME}/go"
      - "cargo-data:${HOME}/.cargo"
      - "local-bin:${HOME}/.local/bin"
      - "local-lib:${HOME}/.local/lib"
    hostname: toolbox
    environment:
      - "TERM=${TERM}"
    stdin_open: true
    tty: true
    # ports:
      # godoc
      # - "6060:6060"

volumes:
  cache:
  nvim-data:
  go-data:
  cargo-data:
  local-bin:
  local-lib:
