version: '3.3'

volumes:
  ide-go:
    external: true
  ide-cargo:
    external: true

services:
  ide:
    image: ide
    build:
      context: .
      args:
        - uid
        - gid
        - user
        - group
    tty: true
    environment:
      - TERM=${TERM}
      - TZ=${TZ}
    hostname: toolbox
    network_mode: host
    tmpfs:
      - /tmp:rw,exec,nosuid,nodev,mode=777
      - /home/${USER}/.local/state:rw,exec,nosuid,nodev,mode=777
      - /home/${USER}/.cache:rw,noexec,nosuid,nodev,mode=777
    volumes:
      - ide-go:/home/${USER}/go
      - ide-cargo:/home/${USER}/.cargo
    ulimits:
      nofile:
        soft: 1024
        hard: 10240
