[alias]
	st = status
	br = branch
	lg =  "!git log --graph --decorate --pretty=format:'%C(yellow)%h %Cred%cr %Cblue(%an)%C(cyan)%d%Creset %s' --abbrev-commit --all"
[mergetool]
	keepBackup = false
[diff]
	tool = nvim
[mergetool "nvim"]
	cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[merge]
	tool = nvim
[commit]
	gpgSign = true
[include]
	path = ~/.gitconfig_local
