[submodule ".config/nvim/plugins/vscode.nvim"]
	path = .config/nvim/plugins/vscode.nvim
	url = https://github.com/Mofiqul/vscode.nvim.git
[submodule ".config/nvim/plugins/nvim-colorizer.lua"]
	path = .config/nvim/plugins/nvim-colorizer.lua
	url = https://github.com/norcalli/nvim-colorizer.lua.git
[submodule ".config/nvim/plugins/blink.cmp"]
	path = .config/nvim/plugins/blink.cmp
	url = https://github.com/Saghen/blink.cmp.git
[submodule ".config/nvim/plugins/autotabline.nvim"]
	path = .config/nvim/plugins/autotabline.nvim
	url = https://github.com/mgnsk/autotabline.nvim.git
[submodule ".config/nvim/plugins/dumb-autopairs.nvim"]
	path = .config/nvim/plugins/dumb-autopairs.nvim
	url = https://github.com/mgnsk/dumb-autopairs.nvim.git
[submodule ".config/nvim/plugins/promise-async"]
	path = .config/nvim/plugins/promise-async
	url = https://github.com/kevinhwang91/promise-async.git
[submodule ".config/nvim/plugins/nvim-fundo"]
	path = .config/nvim/plugins/nvim-fundo
	url = https://github.com/kevinhwang91/nvim-fundo.git
[submodule ".config/nvim/plugins/vim-wordmotion"]
	path = .config/nvim/plugins/vim-wordmotion
	url = https://github.com/chaoren/vim-wordmotion.git
[submodule ".config/nvim/plugins/conform.nvim"]
	path = .config/nvim/plugins/conform.nvim
	url = https://github.com/stevearc/conform.nvim.git
[submodule ".config/nvim/plugins/fzf-lua"]
	path = .config/nvim/plugins/fzf-lua
	url = https://github.com/ibhagwan/fzf-lua.git
[submodule ".config/nvim/plugins/luvit-meta"]
	path = .config/nvim/plugins/luvit-meta
	url = https://github.com/Bilal2453/luvit-meta.git
[submodule ".config/nvim/plugins/neomake"]
	path = .config/nvim/plugins/neomake
	url = https://github.com/neomake/neomake.git
[submodule ".config/nvim/plugins/vim-cspell"]
	path = .config/nvim/plugins/vim-cspell
	url = https://github.com/ryu-ichiroh/vim-cspell.git
[submodule ".config/nvim/plugins/jsonpath.nvim"]
	path = .config/nvim/plugins/jsonpath.nvim
	url = https://github.com/phelipetls/jsonpath.nvim.git
[submodule ".config/nvim/plugins/oil.nvim"]
	path = .config/nvim/plugins/oil.nvim
	url = https://github.com/stevearc/oil.nvim.git
[submodule ".config/nvim/plugins/tree-sitter-balafon"]
	path = .config/nvim/plugins/tree-sitter-balafon
	url = https://github.com/mgnsk/tree-sitter-balafon.git
[submodule ".config/nvim/plugins/nvim-treesitter"]
	path = .config/nvim/plugins/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule ".config/nvim/plugins/nvim-treesitter-context"]
	path = .config/nvim/plugins/nvim-treesitter-context
	url = https://github.com/nvim-treesitter/nvim-treesitter-context.git
[submodule ".config/nvim/plugins/ts-comments.nvim"]
	path = .config/nvim/plugins/ts-comments.nvim
	url = https://github.com/folke/ts-comments.nvim.git
[submodule ".config/nvim/plugins/lazy.nvim"]
	path = .config/nvim/plugins/lazy.nvim
	url = https://github.com/folke/lazy.nvim.git
[submodule ".config/nvim/plugins/gitsigns.nvim"]
	path = .config/nvim/plugins/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim.git
[submodule ".config/nvim/plugins/nvim-ansible"]
	path = .config/nvim/plugins/nvim-ansible
	url = https://github.com/mfussenegger/nvim-ansible.git
