[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	p = pull
	pul = pull
	ns = diff --name-status
	cx = cherry-pick -x
	lg =  "!git log --graph --decorate --pretty=format:'%C(yellow)%h %Cred%cr %Cblue(%an)%C(cyan)%d%Creset %s' --abbrev-commit --all"
	lb =  "!git log --graph --decorate --pretty=format:'%C(yellow)%h %Cred%cr %Cblue(%an)%C(cyan)%d%Creset %s' --abbrev-commit --first-parent $(git branch --show-current)"

	logs = !git-fzf log
	reflogs = !git-fzf reflog
	prs = !gh-fzf prs
	issues = !gh-fzf issues

[mergetool]
	keepBackup = false
[diff]
	tool = nvim
	algorithm = histogram
	; colorMoved = plain
	mnemonicPrefix = true
	renames = true
[mergetool "nvim"]
	cmd = NVIM_DIFF=1 nvim -d -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[merge]
	tool = nvim
[commit]
	gpgSign = true
	verbose = true
[include]
	path = ~/.gitconfig_local
[pull]
	ff = only
[core]
	pager = delta
[interactive]
	diffFilter = delta
[delta]
	navigate = true
	light = false
	line-numbers = false
	side-by-side = false
	color-only = false
	keep-plus-minus-markers = true
[tag]
	sort = version:refname
[branch]
	sort = -committerdate
[init]
	defaultBranch = main
[push]
	default = simple # (default since 2.0)
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
