[alias]
	st = status
	co = checkout
	ns = diff --name-status
	cx = cherry-pick -x
	lg = "!git log --graph --decorate --pretty=format:'%C(yellow)%h %Cred%cr %Creset%s%C(cyan)%d %Cblue<%an>' --abbrev-commit --all"
	lb = "!git log --graph --decorate --pretty=format:'%C(yellow)%h %Cred%cr %Creset%s%C(cyan)%d %Cblue<%an>' --abbrev-commit --first-parent $(git branch --show-current)"

	logs = !bash ~/.scripts/git/git-fzf.sh log
	reflogs = !bash ~/.scripts/git/git-fzf.sh reflog
	browse = !bash ~/.scripts/git/browse-commit.sh
	prs = !bash ~/.scripts/git/gh-fzf.sh prs
	issues = !bash ~/.scripts/git/gh-fzf.sh issues
	code = !bash ~/.scripts/git/gh-fzf.sh code
	msn = !bash ~/.scripts/git/mergesquashn.sh
	snag = !bash ~/.scripts/git/snag.sh
	squashall = !bash ~/.scripts/git/squashall.sh
	sw = !bash ~/.scripts/git/switch-fzf.sh
	stat = !bash ~/.scripts/git/stat.sh
	alias = !git config --get-regexp ^alias\\. | sed -e s/^alias\\.// -e s/\\ /\\ =\\ /

[mergetool]
	keepBackup = false
[diff]
	algorithm = histogram
	; colorMoved = plain
	mnemonicPrefix = true
	renames = true
[mergetool "nvim"]
	; cmd = NVIM_DIFF=1 nvim -d -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\" ; Native functionality
	cmd = NVIM_DIFF=1 nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[merge]
	tool = nvim
[commit]
	gpgSign = true
	verbose = true
[include]
	path = ~/.gitconfig_local
[pull]
	ff = only
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[tag]
	sort = version:refname
[branch]
	sort = -committerdate
[init]
	defaultBranch = main
[push]
	default = simple # (default since 2.0)
	autoSetupRemote = true
	followTags = true
[fetch]
	prune = true
	pruneTags = true
	all = true
