---
volumes:
  cache:
  local:


x-base: &base
  image: ghcr.io/mgnsk/ide:edge
  environment:
    TERM: ${TERM}
    TZ: ${TZ}
    # yellow
    USERHOST_COLOR: '\[\e[0;33m\]'
    THEME: ${THEME}
  stdin_open: true
  tty: true
  network_mode: host
  tmpfs:
    - /tmp:rw,exec,nosuid,nodev,mode=777
  volumes:
    - cache:/home/ide/.cache
    - cache:/cache
    - local:/home/ide/.local
    - /home/${USER}/go:/home/ide/go
    - /home/${USER}/.cargo:/home/ide/.cargo
    - ${PWD}:${PWD}:Z
  working_dir: ${PWD}
  memswap_limit: 4G
  deploy:
    resources:
      limits:
        memory: 3G
      reservations:
        memory: 2G

services:
  ide:
    <<: *base
    hostname: ide-dev
    command: bash
