---
volumes:
  state:
  cache:
  cargo:
  go:
  bash:


services:
  ide:
    image: ghcr.io/mgnsk/ide:edge
    environment:
      TERM: ${TERM}
      TZ: ${TZ}
      userhost_color: yellow
    stdin_open: true
    tty: true
    hostname: ide
    network_mode: host
    command: bash
    tmpfs:
      - /tmp:rw,exec,nosuid,nodev,mode=777
    volumes:
      - state:/home/ide/.local/state
      - cache:/home/ide/.cache
      - cargo:/home/ide/.cargo
      - cache:/cache
      - go:/home/ide/go
      - bash:/home/ide/.bash_history
      - ${PWD}:${PWD}:Z
    working_dir: ${PWD}
    memswap_limit: 4G
    deploy:
      resources:
        limits:
          memory: 3G
        reservations:
          memory: 2G
