<?xml version="1.0" encoding="UTF-8"?>

<root pluginDataPath="C:\users\magnus\win-plugins\Plugins\Ugritone\Ampenstein\Processors"
      IRPath="C:\users\magnus\win-plugins\Plugins\Ugritone\Ampenstein\Impulse Responses"
      flipChannels="0" temporarySaveAmpStatesForEachSlot="1" UserPresetsPath="C:\users\magnus\win-plugins\Plugins\Ugritone\Ampenstein\User Presets"
      BGImagePath=""/>
