---
volumes:
  cache:
  cargo:
  local:
  go:
  nix:

x-base: &base
  image: ghcr.io/mgnsk/ide2:edge
  environment:
    TERM: ${TERM}
    TZ: ${TZ}
    # yellow
    USERHOST_COLOR: '\[\e[0;33m\]'
  stdin_open: true
  tty: true
  network_mode: host
  tmpfs:
    - /tmp:rw,exec,nosuid,nodev,mode=777
  volumes:
    - cache:/cache
    - cache:/home/ide2/.cache
    - cargo:/home/ide2/.cargo
    - local:/home/ide2/.local
    - go:/home/ide2/go
    - nix:/nix
    - ${PWD}:${PWD}:Z
  working_dir: ${PWD}
  memswap_limit: 4G
  deploy:
    resources:
      limits:
        memory: 3G
      reservations:
        memory: 2G

services:
  ide2-base:
    <<: *base
    hostname: ide2-base
    command: nix develop /home/ide2/ide2#base

  ide2-go:
    <<: *base
    hostname: ide2-go
    command: nix develop /home/ide2/ide2#go

  ide2-lua:
    <<: *base
    hostname: ide2-lua
    command: nix develop /home/ide2/ide2#lua

  ide2-rust:
    <<: *base
    hostname: ide2-rust
    command: nix develop /home/ide2/ide2#rust

  ide2-php:
    <<: *base
    hostname: ide2-php
    command: nix develop /home/ide2/ide2#php

  ide2-python:
    <<: *base
    hostname: ide2-python
    command: nix develop /home/ide2/ide2#python

  ide2-webdev:
    <<: *base
    hostname: ide2-webdev
    command: nix develop /home/ide2/ide2#webdev
