[Desktop Entry]
Type=Application

Name=Color Picker
Exec=bash -c 'text=$(grim -g "$(slurp -p)" -t ppm - | magick - -format "%[pixel:p{0,0}]" txt:-); zenity --info --text="$text"'

Categories=Graphics
Keywords=color;colorpick

NoDisplay=false
