[Desktop Entry]
Type=Application

Name=Reaper (Xpra)
Exec=/usr/bin/bash -c "bash ~/scripts/start-reaper-xpra.sh"

Categories=AudioVideo;Audio
Keywords=reaper;daw

NoDisplay=false
