[Desktop Entry]
Type=Application

Name=Reaper
Exec=/usr/bin/bash -c "bash ~/scripts/start-reaper.sh"

Categories=AudioVideo;Audio
Keywords=reaper;daw

NoDisplay=false
