name: build
on: push
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Build the images
        uses: actions/checkout@v2
      - run: curl -sL https://git.io/tusk | bash -s -- -b /usr/local/bin latest
      - run: tusk build-all
